@import 'typography';
@import '../utils/transition';

html {
  /// Asegurar el ancho total de la ventana
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;

  /// Evitar el scroll horizontal
  overflow-x: hidden;

  /// Mostrar siempre el scroll vertical para evitar saltos de layout
  overflow-y: scroll;

  box-sizing: border-box;
  min-height: 100vh;
  display: flex;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    /// Asegurar que el cuerpo ocupe todo el espacio entregado por el HTML
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;

    /// Establecer Pokémon Font como fuente principal
    font-size: 16px;
    font-family: $pokemonFont;
    line-height: 1.8;

    /// Corregir el alisado de letras en MACOS
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a:focus,
    button:focus {
      /// Eliminar la línea azul en el elemento señalado
      outline-width: 0;
      box-shadow: none;
    }

    /// Clases de utilidad para animaciones
    .--visible {
      opacity: 1;
      transition: $fast;
    }

    .--hidden {
      opacity: 0;
    }
  }
}

/// REGLA EXTRA: Si el componente principal tiene un límite, esto lo rompe
.layout, .layout_content, .home, .home_content {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
